# Ignore virtual environment
**/.venv/**

# Ignore Python installs
*.egg-info/
*.egg/
*.dist-info/
*.dist/
*.pyc
*.pyo
*.pyd
__pycache__/
**/python/**

# Ignore Terraform
.terraform/**
terraform.tfstate**
terraform.tfvars**
